@import "./src/assets/styles/variables";

.tooltip {
  background-color: $gray;
  color: gray;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
}

.tooltipContent {
  font-weight: 400;
  padding-bottom: 15px !important;
}
